<nav class="navbar">
    <span class="navbar-brand h3" style="color: whitesmoke">Utente {{utente.nome}}</span>
    <div class="align-right">
    <button *ngIf="utente.nome=='cameriere'" type="button" class="btn btn-light mr-2"  (click)="ListaOrdinazioni()">Lista Ordinazioni</button>
    <button type="button" class="btn btn-light" (click)="logout()">Logout</button>
    
    </div>
</nav>

<div class="d-flex justify-content-center form_container">
    <div class="col-sm-12  row">
        <span style="text-align: center; color:white; font-size: 24px"> Tavoli</span>
        <div class="col-sm-12 row mt-3">
            <div class="user_card" *ngFor="let element of tavoli" (click)="showDetails(utente.nome, element.numero)">
                <span style="text-align: center; color:white"> {{element.numero}}</span>
                <span style="text-align: center; color:white"> {{element.tipologiaTavolo.tipologia}}</span>
                <span *ngIf="element.occupato == 0" class="circle"></span>
                <span *ngIf="element.occupato == 1" class="circle_red"></span>
            </div>
        </div>
    </div>