.form_container {
    margin-top: 50px;
}

.navbar {
  background-color: rgba(178,34,34,0.75)
}
  .user_card {
    cursor: pointer;
    height: 200px;
    width: 200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    background: #964b00;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
  }

  .circle {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background: green;
    position: absolute;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    border-radius: 50%;
  }

  .circle_red {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    background: red;
    position: absolute;
    justify-content: center;
    padding: 0px;
    border-radius: 50%;
  }