<div *ngIf="(data.utente.nome==='cameriere' && this.data.color)">
    <h1 mat-dialog-title>Operazione effettuata con successo</h1>
    <div mat-dialog-content>
        <p>Ordine inviato</p>
    </div>
</div>

<div *ngIf="(data.utente.nome==='admin' && data.color)">
    <h1 mat-dialog-title>Operazione effettuata con successo</h1>
    <div mat-dialog-content>
        <p>Pagamento effettuato, arrivederci</p>
    </div>
</div>

<div *ngIf="(data.utente.nome==='admin' && !data.color)">
    <h1 mat-dialog-title class="text-center">PAGAMENTO TAVOLO - {{data.tavolo}}</h1>
    <hr />
    <br />
    <div mat-dialog-content>
        <div>
            <h1 class="text-center">Totale: &euro; {{data.totale}},00</h1>
            <br />
            <hr />

            <div class="form-group">
                <p class="h4">Seleziona metodo di pagamento</p>
                <label>
                    <input name="modalitaPagamento" value="1" type="radio" class="input-radio"
                        [(ngModel)]="pagamento" />Contanti</label>
                <label>
                    <input name="modalitaPagamento" value="2" type="radio" class="input-radio"
                        [(ngModel)]="pagamento" />Bancomat</label>
            </div>

            <hr />
            <div class="form-group">
                <button class="submit-button" (click)="inviaPagamento()">
                    Invia Pagamento
                </button>
            </div>
        </div>
    </div>
</div>


<!-- DIV ALERT CAMERIERE QUANDO UN ORDINE VIENE ELABORATO DALLA CUCINA E/O DAL BAR -->
<div *ngIf="(data.utente.nome==='cameriere' && this.showModal)">
    <h1 mat-dialog-title class="text-center">Nuovo Ordine Elaborato</h1>
    <br />
    <hr />
    <div mat-dialog-content>
        <div class="form-group">
            <button class="submit-button" (click)="showLista()">
                Vai alla lista degli ordini
            </button>
        </div>
    </div>
</div>

<!-- DIV ALERT CUOCO E BARISTA QUANDO UN ORDINE VIENE INVIATO DAL CAMERIERE -->
<div *ngIf="((data.utente.nome==='cuoco' || data.utente.nome==='barista')  && data.showModal)">
    <h1 mat-dialog-title class="text-center">Nuovo Ordine Elaborato</h1>
    <br />
    <hr />
    <div mat-dialog-content>
        <div class="form-group">
        </div>
    </div>
</div>


<!-- DIV ALERT CUOCO E BARISTA QUANDO UN ORDINE VIENE ELABORATO -->
<div *ngIf="((data.utente.nome==='cuoco')  && showModalCuoco)">
    <h1 mat-dialog-title class="text-center">Nuova consumazione aggiunta ai seguenti tavoli</h1>
    <br />
    <hr />
    <div mat-dialog-content>
        <div class="form-group" *ngFor="let element of listaNuoveConsegneCuoco">
                <li>{{element.tavolo.numero}}</li>
        </div>
    </div>
</div>

<div *ngIf="((data.utente.nome==='barista')  && showModalBarista)">
    <h1 mat-dialog-title class="text-center">Nuova consumazione aggiunta ai seguenti tavoli</h1>
    <br />
    <hr />
    <div mat-dialog-content>
        <div class="form-group" *ngFor="let element of listaNuoveConsegneBarista">
                <li>{{element.tavolo.numero}}</li>
        </div>
    </div>
</div>